[run]
plugins = Cython.Coverage

[report]
include =
    amplpy/*.pyx
    amplpy/*.pxi

exclude_also =
    class Kind\(.*\):
    ^ {4,}[A-Z_]+ = campl\..*$
    ^ {4,}""".*"""$
    ^ {4,}""".*
    PyOutput
