variables:
  BUNDLES_URL: 'https://ampl.com/demo/'
  LINUX32_BUNDLE_NAME: 'ampl.linux32.tgz'
  LINUX64_BUNDLE_NAME: 'ampl.linux64.tgz'
  MACOS64_BUNDLE_NAME: 'ampl.macos64.tgz'
  MSWIN64_BUNDLE_NAME: 'ampl.mswin64.zip'

jobs:
- job: docs
  pool: {vmImage: 'Ubuntu-16.04'}
  steps:
    - task: UsePythonVersion@0
    - bash: |
        set -ex
        python updatelib.py
        pip install .
        cd docs
        pip install -r requirements-dev.txt
        make html
        cd ..
        mkdir -p upload/doc
        cp -r docs/build/html upload/doc/python
      displayName: Build documentation
    - task: PublishBuildArtifacts@1
      inputs: {pathtoPublish: 'upload'}
- job: manylinux
  pool: {vmImage: 'Ubuntu-16.04'}
  variables:
    CIBW_TEST_COMMAND: 'PATH="/project/ampl:$PATH" python -m amplpy.tests'
    CIBW_TEST_REQUIRES: pandas
  strategy:
    matrix:
      x86:
        CIBW_SKIP: 'pp*'
        CIBW_BUILD: '*-manylinux*_i686'
        AMPL_URL: '$(BUNDLES_URL)/$(LINUX32_BUNDLE_NAME)'
      x64:
        CIBW_SKIP: 'pp* *-manylinux*_i686'
        AMPL_URL: '$(BUNDLES_URL)/$(LINUX64_BUNDLE_NAME)'
  steps:
    - task: UsePythonVersion@0
    - bash: bash download-ampl.sh $AMPL_URL
      displayName: Install AMPL
    - bash: |
        set -ex
        python -m pip install --upgrade pip
        python -m pip install cibuildwheel==1.7.4
        python updatelib.py
        cibuildwheel --platform linux --output-dir wheelhouse .
        python3 setup.py sdist -d wheelhouse
      displayName: Build wheels
    - task: PublishBuildArtifacts@1
      inputs: {pathtoPublish: 'wheelhouse'}
- job: macos
  pool: {vmImage: 'macOS-10.15'}
  variables:
    CIBW_TEST_COMMAND: 'PATH="/Users/runner/work/1/s/ampl:$PATH" python -m amplpy.tests'
    CIBW_TEST_REQUIRES: pandas
    AMPL_URL: '$(BUNDLES_URL)/$(MACOS64_BUNDLE_NAME)'
  steps:
    - task: UsePythonVersion@0
    - bash: bash download-ampl.sh $AMPL_URL
      displayName: Install AMPL
    - bash: |
        set -ex
        python -m pip install --upgrade pip
        python -m pip install cibuildwheel==1.7.4
        python updatelib.py
        CIBW_SKIP='pp*' cibuildwheel --platform macos --output-dir wheelhouse .
      displayName: Build wheels
    - task: PublishBuildArtifacts@1
      inputs: {pathtoPublish: 'wheelhouse'}
- job: windows
  pool: {vmImage: 'vs2017-win2016'}
  variables:
    CIBW_TEST_COMMAND: 'python -m amplpy.tests'
    CIBW_TEST_REQUIRES: pandas
    AMPL_URL: '$(BUNDLES_URL)/$(MSWIN64_BUNDLE_NAME)'
  steps:
    - task: UsePythonVersion@0
    - script: choco install vcpython27 -f -y
      displayName: Install Visual C++ for Python 2.7
    - bash: bash download-ampl.sh $AMPL_URL
      displayName: Install AMPL
    - bash: |
        set -ex
        python -m pip install --upgrade pip
        python -m pip install cibuildwheel==1.7.4
        python updatelib.py
        export PATH="/d/a/1/s/ampl:$PATH"
        # Skipping python 3.9 (linking error)
        CIBW_SKIP='pp* cp39-*' cibuildwheel --platform windows --output-dir wheelhouse .
      displayName: Build wheels
    - task: PublishBuildArtifacts@1
      inputs: {pathtoPublish: 'wheelhouse'}